<img src= {{image}}></img>
<h1>{{title}}</h1>
<h2>{{director}}</h2>

<h3>Stars</h3>
<ul>
  {{#each stars}}
    <li>{{this}}</li>
  {{/each}}
</ul>
<p>{{description}}</p>
{{#each showtimes}}
  {{this}} |
{{/each}}